/* MEDIA QUERIES FOR 576PX AND ABOVE */
/* Only use the breakpoint necessary to your project */
@media all and (max-width:425px) {
}
@media all and (min-width:576px) {}

@media all and (min-width:768px) {
    /* ===========Header============== */
    header{
        background: #4031B7 url(../images/header-bg-side.png);
      background-repeat: no-repeat;
      background-position: 100% 0%;
      background-size: 100%;
    }
    .video-div{
        position: relative;
    }
    .video-div iframe{
        position: absolute;
        left: 7%;
    }
    .video-container{
        overflow-x: hidden;
    }
    .vid-container::before{
        content: " ";
        width: 100%;
        height: 54%;
        background-color: rgba(48, 32, 175, 0.5);
        position: absolute;
        left: -3%;
        bottom: 40%;
        transition: all 0.3s ease-in-out;
    }
    /* ===========Header ends============== */
      
}

@media all and (min-width:992px) {
  /* ===========Header============== */

.video-div iframe{
    left: 7%;
}
.vid-container::before {
    content: " ";
    width: 100%;
    height: 61%;
    left: -3%;
    bottom: 29%;
/* ===========Header ends============== */
}

@media all and (min-width:1200px) {
    /* ===========Header============== */
    .video-div iframe{
        left: 20%;
    }
    .vid-container::before {
        content: " ";
        width: 100%;
        height: 76%;
        left: 12%;
        bottom: 14%;
    }

/* ===========Header ends============== */
}

@media all and (min-width:1330px) {
    /* ===========Header============== */
    .video-div iframe{
        left: 20%;
    }
/* ===========Header ends============== */
}



@media all and (min-width:1440px) { 
    /* ===========Header============== */

    .video-div iframe{
        left: 27%;
    }
    .vid-container::before {
        content: " ";
        width: 100%;
        height: 76%;
        left: 20%;
        bottom: 12%;
    }
/* ===========Header ends============== */
}

@media all and (min-width:2560px) {
}
