* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  /* div{
	border: solid 1px blue;
  }
  img{
	border: solid 1px red;
  } */
  
  
  :root{
	--ff-primary: 'Manrope', sans-serif;
	--ff-secondary: 'Playfair Display', serif;
	--fc-secondary: #2CB1BC;
	--fc-primary: #333333;
	--clr-bg-desktop: #fdf9f8;
	--clr-bg-mobile: #ffffff;
	--fs-h1: 48px;
	--fs-h2: 36px;
	--fs-h3: 24px;
	--fs-p: 18px;
	--fs-p-mobile: 16px;
	--bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),  0.125em 0.125em 0.25em rgba(0,0,0,.15);
  
  }
  html{
	scroll-behavior: smooth;
  }
 .header-wrapper{
	 
 }
  header{
	  background: #4031B7 url(../images/header-bg-side.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 100% 0%;
	background-size: 200%;
  }
  
  .navbar{
	background: transparent;
	border-bottom: none;
  }

.header-font-color{
	color: #B6D2E3;
}
.header-span-color{
	color: 
	#8bfbf0;
}
.f-white{
	color: white;
}
  nav a{
	  font-size: var(--fs-p);
	  color: #B6D2E3!important;
  }
  header p{
	  color: #B6D2E3;
  }
  .sign-up{
	border: 1px solid #B6D2E3;
	border-radius: 20px;
	padding: .5rem 1rem;
  }

  /* ====================Header================ */
  .header-phone{
	  border-right: 1px solid #B6D2E3;
  }
  .header-phone a, .header-phone p{
	  color: #B6D2E3;
  }
  .book-btn{
	  background-color: #60CBBE;
	  border-radius: 50px;
	  color: white;
  }

	  
  

  /* ====================Header Ends================ */